.contactContainer {
  width: 25rem;
  margin-top: 4rem;
  height: 100%;
  overflow-y: auto;
  padding: 0 0.8rem 1rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  position: fixed;
  right: 0;

  > section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > h3 {
      color: var(--text-color);
    }

    > div {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 0.2s;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.233);
      }
    }
  }
}
